@import "variables";

$brandColor: #ccc;

@mixin wellContainer ($padding:5px, $bdColor:red, $bgColor:orange, $boxShdColor:#ccc) {
  padding: $padding;
  border: $bdColor 1px solid;
  background: $bgColor;
  box-shadow: 1px 1px 1px $boxShdColor;
}

.well-styling {
  @include wellContainer(5px, #ddd, #ccc, #000);
}

h1 {
  font-size: 50px; 
  color: white;
}

h2 {
  color: $brandRed; 
}

.nav {
  li {
    padding: 5px 5px 15px 0;
    color: $brandColor; 
  }
}