.features .glyphicon {
  font-size: 32px; 
}

.footer {
  background-color: #333333;
}

.footer p,
.footer h4 {
  color: #ffffff;
}

.footer a {
  color: #10dcda;
  text-decoration: none;
}

.spacer {
  margin-top: 50px; 
}
